*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  display: flex;
  height: 100vh;
  /* background-color: blueviolet; */
}
.tabContainer{
  display: flex;
  /* background-color: brown; */
  margin: auto;
  width: 90vw;
  flex-direction: column;
}
#panelButton{
  width: 100%;
  display: flex;
  text-align: center;

}
/* #panelButton:focus{
  outline: none;
  border-color: #9ecaed;
} */
#panelButton div{
  width: 25%;
  padding: 15px;
  border: 1px solid grey;
  cursor: pointer;
}
#panelButton div:hover{
  background-color: rgb(63, 165, 89);
}
.tabElement{
  margin: auto;
  width: 90vw;
  background-color: rgb(19, 204, 127);
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px 2px rgb(54, 47, 47);
  
}
#header{
  background-color: aquamarine;
  display: flex;
}
#header *{
  /* background-color: blue; */
  
  text-align: center;
}
.header-date-holder{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: auto; */
  width: 80%;
  margin: 20px 10px;
}
#dayname{
  display: flex;
  text-align: center;
}
#dayname div{
  width: 14.28%;
}


#days{
  display: flex;
  flex-wrap: wrap;
  /* width: 90%;
  margin: auto; */
  text-align: center;
  background-color: cornsilk;
}
#days div{
  width: 14.28%;
  padding: 10px;
}
.fa-solid{
  margin: 20px 10px;
  cursor: pointer;
  width: 10%;
  background-color: rgb(94, 218, 176);
  border-radius: 20px;
  padding: 10px;
}

.fa-solid:hover{
  background-color: rgb(238, 238, 238);
}
/* input{
  width: 20%;rgb(191 219 207)
}
textarea{
  height: 60%;
  margin-top: 3px;
}
button{
  width: 20%;
} */
.ageCalInputContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  background-color: rgb(191 219 207);
  width: 100%;
}


#ageCalc input{
  padding: 6px;
  border-radius: 5px;
}
#ageCalc textarea{
  border-radius: 7px;
  text-align: center;
  height: 30px;
  padding-top: 7px;
}
#ageCalc button{
  cursor: pointer;
  width: 89px;
  height: 30px;
  border-radius: 5px;
}
#ageCalc button:hover{
  background-color: rgb(15, 4, 65);
  color: white;
}
#ageInput{
  height: 22px;
}
.ageCalOutputContainer{
  text-align: center;
  background-color: rgb(191 219 207);
  padding: 20px 0;
}
.searchContainer{
  display: flex;
  /* justify-content: space-between; */
  padding: 10px;
}
.searchContainer input{
  width: 50%;
  margin-right: 10px;
  padding: 8px;
    border-radius: 5px;
    /* border: 2px solid #007bad; */
    border: none;
}
.searchContainer button{
  width: 10%;
  border-radius: 4px;
  border: none;
  background-color: #057cff;
  color: white;
  cursor: pointer;
  overflow-wrap: break-word;
}
.searchContainer button:hover{
  background-color: #03387c;
}
.noteInputContainer{
  display: flex;
  padding: 10px;
  align-items: center;
}
.noteInputContainer button{
  width: 10%;
  overflow-wrap: break-word;
}
.noteTextBox{
  width: 70%;
  border-radius: 4px;
  border: none;
}
#noteTextArea{
  padding: 10px;
}